/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #091109;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

h2 {
    color: #030804;
}

/* About Section */
#about {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

.profile-img {
    width: 150px;
    border-radius: 50%;
    margin: 20px 0;
}

/* Skills Section */
#skills,.certificate {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills li {
    margin: 5px 0;
}

/* Projects Section */
#projects {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

#projects ul {
    list-style-type: none;
    padding: 0;
}

#projects li {
    margin: 5px 0;
}

/* Contact Section */
#contact {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

footer {
    background-color: #070807;
    color: white;
    text-align: center;
    padding: 1px;
    position: fixed;
    width: 100%;
    bottom: 0;
}